<div fxLayout="row" fxLayoutAlign="space-between center">
  <h2>
    <a href="sensor/{{preview.sensor.id}}">{{ preview.sensor.name }}</a>
  </h2>

  <div fxLayout="column">
    <span class="last-measurement">T: {{ preview.lastTemperature }} °C</span>
    <span class="last-measurement">H: {{ preview.lastHumidity }} %</span>
    <span class="last-measurement">AP: {{ preview.lastAirPollution }} PPM</span>
  </div>
</div>

<chart [chartType]="'temperature'" [data]="preview.temperatureData"></chart>
