<div fxLayout="row" fxLayoutAlign="space-between start">
  <h2>
    {{ sensorData?.sensor.name }}
  </h2>

  <div>
    <button mat-raised-button color="primary" class="edit-button" (click)="edit()">
      <mat-icon>edit</mat-icon>
      Edit
    </button>

    <mat-form-field class="scope-interval-select">
      <mat-label>Charts Scope</mat-label>
      <mat-select [formControl]="chartScopeFormControl">
        <mat-option *ngFor="let scope of chartScopeIntervals" [value]="scope.key">{{ scope.value }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>


<div class="chart">
  <chart [chartType]="'temperature'" [data]="sensorData?.temperatureData"></chart>
</div>

<div class="chart">
  <chart [chartType]="'humidity'" [data]="sensorData?.humidityData"></chart>
</div>

<div class="chart">
  <chart [chartType]="'airPollution'" [data]="sensorData?.airPollutionData"></chart>
</div>
