<div fxLayout="row" fxLayoutAlign="space-between center">
  <h2>
    {{ sensorData.sensor.name }}
  </h2>

  <h4>
    T: {{ sensorData.lastTemperature }} °C |
    H: {{ sensorData.lastHumidity }} % |
    AP: {{ sensorData.lastAirPollution }} PPM
  </h4>
</div>

<div class="chart">
  <chart [chartType]="'temperature'" [data]="sensorData.temperatureData"></chart>
</div>

<div class="chart">
  <chart [chartType]="'humidity'" [data]="sensorData.humidityData"></chart>
</div>

<div class="chart">
  <chart [chartType]="'airPollution'" [data]="sensorData.airPollutionData"></chart>
</div>
